/* VARIABLES */
:root {
  --main-bg-color: #1abc9c;
  color: white;
}

/* COMMON */
.bg_color_main {
  background-color: var(--main-bg-color);
  color: white;
}
.star_black:before,
.star_black:after {
  content: "";
  color: black;
  background-color: black;
  border-radius: 20rem;
  height: 0.2rem;
  width: 30%;
  max-width: 160px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.star_white:before,
.star_white:after {
  content: "";
  color: white;
  background-color: white;
  border-radius: 20rem;
  height: 0.2rem;
  width: 30%;
  max-width: 160px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
/* HEADER */
header {
  background-color: lightskyblue;
  height: 100px;
  color: white;
}
.header_card {
  height: 100%;
  /* Test */
  background-color: purple;
}
/* MAIN */

/* Info Personali */
.info {
  background-color: #1abc9c;
  color: white;
}
.info img {
  max-width: 200px;
}
/* Portfolio */
.portfolio {
  color: black;
}
.port_card {
  width: 20%;
  margin: 1rem 0;
  background-color: blueviolet;
  border: 2px dotted red;
}
/* About */
.about {
  background-color: #1abc9c;
  color: white;
}
.about_card {
  margin: 1rem 0;
}
/* Contact Me */
.contact {
  background-color: darkcyan;
}

/* FOOTER */

.top-footer {
  background-color: crimson;
  color: white;
}
.bot-footer {
  background-color: black;
  color: white;
}
