/* HEADER */
header {
  background-color: lightskyblue;
  height: 100px;
  color: white;
  /* display: flex;
  align-items: center; */
}
.header_card {
  height: 100%;
  /* Test */
  background-color: purple;
}

/* MAIN */

/* Info Personali */
.info {
  /* Test */
  height: 300px;
  background-color: lightcoral;
}
.info_card {
  color: white;
}
/* Portfolio */
.portfolio {
  background-color: aqua;
}
.port_card {
  margin: 1rem 0;
  background-color: blueviolet;
  border: 2px dotted red;
}
/* About */
.about {
  background-color: bisque;
}
.about_card {
  margin: 1rem 0;
  /* Test */
  background-color: antiquewhite;
  border: 1px dotted red;
}
/* Contact Me */
.contact {
  background-color: darkcyan;
}

/* FOOTER */

.top-footer {
  background-color: crimson;
  color: white;
}
.bot-footer {
  background-color: black;
  color: white;
}
